@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
 }

 body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .container{
  position: relative;
  height: 420px;
  width: 420px;
  background-image: url(krish.png);
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;
 }

 .container .heart{
  position: absolute;
  font-size: 40px;
  color: red;
  opacity: 0;
  transform: translate(-50%,-50%);
 }

 .heart.active{
  animation: animate 0.8s linear forwards;
 }

 @keyframes animate {
  30%{
    opacity: 1;
    font-size: 80px;
  }

  50%{
    opacity: 1;
    font-size: 60px;
  }

  60%{
    opacity: 1;
    font-size: 70px;
  }

  70%{
    opacity: 1;
    font-size: 50px;
  }
 }